# Dependencies
node_modules/
venv/
env/
.env
.env.local

# Build / Output
dist/
build/
.next/
out/
uploads/

# Machine Learning Models
ml-models/
DeepGuardian_Organized/ml-models/
*.pth
*.safetensors
*.h5
*.joblib
*.pt

# OS / IDE
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archives
*.tar
*.zip
*.gz
